.projects-section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.projects-item {
  padding: 24px;
  border: solid 1px rgba(229, 229, 229, 1);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.projects-item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -1px;
}
.projects-item .green-line {
  margin: 32px 0 0;
}
.projects-item img {
  width: 100%;
}
.projects-item h4 {
  font-size: 20px;
  line-height: 34px;
  margin: 10px 0 6px;
}
.projects-item p {
  font-size: 13px;
  line-height: 16px;
  color: rgba(136, 136, 136, 1);
}
/* @media screen and (max-width: 750px) {
  .slick-next::before, .slick-prev::before {
    margin: 0;
    position: static;
  }
} */
