.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("../../images/hero-bg.png"), rgba(46, 46, 46, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.hero-content h1 {
  font-size: 111px;
  font-family: 'Montserrat', sans-serif;
}
.hero-content h2 {
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
}
.hero-content h3 {
  font-size: 26px;
  font-weight: 300;
}
.hero-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.hero-heading {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.scroll-btn {
  position: absolute;
  left: 80px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  gap: 22px;
  color: rgba(239, 239, 239, 1);
}
.scroll-btn:hover {
  color: #fff;
}
#arrow {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;  
  top: -10%;
  width: 12px;
}
#circle {
  width: 28px;
}
.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}
.phone-btn {
  position: absolute;
  right: 80px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(56, 183, 29, 0.8);
}
.phone-btn:hover {
  background-color: rgba(56, 183, 29, 1);
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100%  { transform: translateY(0); }
}
@media screen and (max-width: 1500px) {
  .hero-content {
    width: 40%;
  }
}
@media screen and (max-width: 1150px) {
  .hero-content {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .hero-content {
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .hero-content {
    width: 100%;
  }
  .hero-section {
    padding: 0 5%;
  }
  .scroll-btn {
    font-size: 18px;
  }
  .scroll-btn {
    left: 5%;
    font-size: 14px;
    gap: 10px;
  }  
  .phone-btn {
    right: 5%;
  }
}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 450px) {
  .hero-content h1 {
    font-size: 90px;
  }
  .hero-content h2 {
    font-size: 42px;
  }
  .hero-content h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .hero-content h1 {
    font-size: 80px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
}