.advant-section {
  display: flex;
  flex-direction: column;
  gap: 75px;
}
.advant-details-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.advant-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
  border-radius: 100%;
  background-color: rgba(56, 183, 29, 1);
}
.advant-details h4 {
  font-size: 18px;
  line-height: 21px;
  margin: 33px 0 22px 0;
}
.advant-details p {
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 1440px) {
  .advant-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1000px) {
  .advant-details-box {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }
  .advant-details {
    text-align: left;
    max-width: 270px;
  }
}
@media screen and (max-width: 550px) {
  .advant-section {
    gap: 50px;
  }
  .advant-details-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .advant-section .section-heading h2  {
    font-size: 35px;
  }
}
@media screen and (max-width: 350px) {
  .advant-section .section-heading h2  {
    font-size: 32px;
  }
}