.clients-section {
  margin: 50px 0 70px;
}
.clients-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-height: 78px;
  padding: 18px 30px;
  border: solid 1px rgba(229, 229, 229, 1);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.clients-item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}