.videos-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px
}
.videos-section.section {
  margin-top: 50px;
}
.videos-slide {
  display: flex !important;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: fit-content;
}
.slide-line {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 22% 51% 24%;
  grid-template-rows: auto;
}
#second-line {
  grid-template-columns: 18% 40% 39%;
  grid-template-rows: 274px;
}
.videos-item {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.videos-item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.videos-carousel .slick-slide {
  margin: 0;
  padding: 0;
}
.videos-carousel .slick-slide > div {
  margin: 0;
}
.videos-carousel .slick-list {
  margin: 0;
}
.play-btn {
  position: absolute;
  width: 42px;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto; 
  margin-right: auto; 
  cursor: pointer;
  z-index: 100;
}
.videos-carousel .videos-img{
  min-height: 274px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  z-index: 10;
}
.videos-carousel.mobile .videos-img{
  min-height: 300px;
}
.videos-carousel #a {
  background: url("../../images/videos_a.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel #b {
  background: url("../../images/videos_b.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel #c {
  background: url("../../images/videos_c.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel #d {
  background: url("../../images/videos_d.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel #e {
  background: url("../../images/videos_e.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel #f {
  background: url("../../images/videos_f.png"), rgba(34,34,34,0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.videos-carousel .slick-track{
  min-height: 274px;
}
@media screen and (max-width: 1300px) {
  .videos-item {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .videos-section {
    gap: 50px;
  }
  .play-btn {
    width: 40px;
  }
}