.videos-section {
  display: flex;
  flex-direction: column;
  gap: 80px
}
.videos-section.section {
  margin-top: 50px;
}
.videos-slide {
  display: flex !important;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: fit-content;
}
.videos-item {
  position: relative;
  max-width: 100%;
  height: auto;
}
.videos-item img:first-of-type {
  width: 100%;
}
.videos-carousel .slick-slide {
  margin: 0;
  padding: 0;
}
.videos-carousel .slick-slide > div {
  margin: 0;
}
.videos-carousel .slick-list {
  margin: 0;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 1300px) {
  .videos-item {
    width: 100%;
  }
}