footer {
  width: 100%;
  padding: 0 75px;
  background: url("../../images/footer-bg.png"), rgba(37, 37, 37, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.contact-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  text-transform: uppercase;
  color: rgb(228,228,228);
}
.contact-btn:hover {
  text-decoration: underline;
  color: #fff;
}
.contact-btn img {
  transform: rotate(270deg);
}
.footer-heading {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: rgb(228,228,228);
}
footer a:hover {
  text-decoration: underline;
  color: #fff;
}
footer h4 {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  white-space: nowrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-content {
  display: flex;
  padding: 53px 0;
  border-top: solid 1px rgba(255, 255, 255,0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  gap: 50px;
}
.footer-content-box {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer-creds {
  padding: 25px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
#large ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 45px;
}
#contacts p {
  width: 70px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(228,228,228);
}
#contacts font {
  color: #fff;
}
#contacts span {
  display: flex;
  gap: 15px;
}
#phone {
  font-size: 18px;
}
@media screen and (max-width: 1400px) {
  footer {
    padding: 0 5%;
  }
  .footer-content {
    gap: 50px;
  }
}
@media screen and (max-width: 1264px) {
  .footer-content {
    gap: 20px;
  }
  #large ul {
    column-gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  #large ul {
    display: flex;
    flex-direction: column;
  }
  .footer-heading .logo {
    width: 150px;
  }
  .contact-btn {
    gap: 10px;
  }
  .footer-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}