*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 100%;
}
h1, h2 {
  font-family: 'Play', sans-serif;
}
button {
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.App {
  position: relative;
  overflow-x: hidden;
}
.section {
  position: relative;
  padding: 50px 0;
}
.section-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-heading h2 {
  font-size: 55px;
  line-height: 62px;
  text-transform: uppercase;
}
.section-heading p {
  max-width: 400px;
  font-size: 20px;
  line-height: 34px;
  text-align: right;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-label {
  font-family: 'Play', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(153, 153, 153, 1);
  white-space: nowrap;
  margin: 0;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.heading-label::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 25px;
  z-index: 100;
  background-color: rgb(154, 154, 154);
  width: 2px;
  height: 60px;
}
.label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.container {
  max-width: 1216px;
  margin: 0 auto;
}
.slick-next::before, .slick-prev::before {
  content: '' !important;
  margin: -30px;
}
.green-link::after {
  bottom: -5px;
  right: 0;
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  opacity: 1;
	transform: scale(0);
	transform-origin: center;
  background-color: rgba(56, 183, 29, 1);
  z-index: 110;
  transition: opacity 0.3s, transform 0.3s
}
.grey-link::after {
  bottom: -5px;
  right: 0;
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  opacity: 1;
	transform: scale(0);
	transform-origin: center;
  background-color: rgb(154, 154, 154);
  z-index: 110;
  transition: opacity 0.3s, transform 0.3s
}
.green-link.large::after, .grey-link.large::after {
  height: 2px;
}
.green-link:hover::after, .green-link:focus::after, .grey-link:hover::after, .grey-link:focus::after {
  transform: scale(1);
}
.carousel-item {
  transform: scale(100%);
  transition: transform 0.2s ease-in-out;
}
.carousel-item:hover {
  transform: scale(105%);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  visibility: none;
  background-color: rgba(153, 153, 153, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(56, 183, 29, 0.8);
  width: 12px;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(116, 234, 87);
}
@media screen and (max-width: 1400px) {
  .slick-next::before, .slick-prev::before {
    margin: -10px;
  }
  .container {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 0 4%;
  }
}
@media screen and (max-width: 1250px) {
  .slick-next::before, .slick-prev::before {
    margin: -3px;
  }
  /* .heading-label {
    position: static;
    transform: rotate(0);
    justify-content: flex-start;
    align-items: flex-start;  
  } */
  .section-heading {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section-heading h2 {
    margin: 10px 0 20px;
  }
  .section-heading p {
    text-align: left;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .section-heading {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section-heading h2 {
    margin: 10px 0 20px;
  }
  .section-heading p {
    text-align: left;
    max-width: 100%;
    width: 100%;
  }
  .container {
    padding: 0 4%;
  }
  .slick-dots {
    bottom: -50px !important;
  }
}
@media screen and (max-width: 750px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (max-width: 500px) {
  .heading-label {
    margin-right: -23px;
    font-size: 13px;
    gap: 3px;
  }
  .section-heading h2 {
    font-size: 45px;
    line-height: 52px;
  }
}
@media screen and (max-width: 400px) {

  .section-heading p {
    font-size: 16px;
    line-height: 22px;
  }
}